.--hover:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.--flex-gap-0 {
  gap: 0.1rem;
}
.--flex-gap-1 {
  gap: 1rem;
}

.--flex-gap-2 {
  gap: 2rem;
}

.--item-gap {
  margin-bottom: 4rem !important;
}

.--section-gap {
  margin-bottom: 4rem !important;
}
.--shadow {
  box-shadow: 2px 2px 10px 2px #24242428;
}

.--image {
  max-width: 100%;
}

.--padding {
  padding: 1rem 2rem;
}
